 
 
 <div class="row d-flex justify-content-center align-items-center lovely" style="height: calc(100vh - 40px);">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
     
      <form [formGroup]="SignUpForm" class="example-form" (ngSubmit)="onSubmit()"> 
        <div class="card-parent">
          <div class="m-5 mb-0 d-flex justify-content-center align-items-center">
              <mat-icon style="font-size: 150px !important; height: unset; width: unset;color: #0c30ddad; ">person</mat-icon>
          </div>
          <h1 class="text-center heading">Creat New User!</h1>
          <p class="m-5 mb-0 d-flex justify-content-center align-items-center" >
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Full Name</mat-label>
              <input matInput placeholder="Full Name" formControlName="fullname" type="text" >
              <mat-icon matSuffix *ngIf="!SignUpForm.get('fullname')?.valid" style="color: green;">badge</mat-icon>
              <mat-icon matSuffix *ngIf="SignUpForm.get('fullname')?.valid" style="color: green;">check</mat-icon>
              <mat-error *ngIf="SignUpForm.get('fullname')?.touched && !SignUpForm.get('fullname')?.valid">
                Enter correct full name</mat-error>
            </mat-form-field>
          </p>
          <p class="m-5 mt-0 mb-0 d-flex justify-content-center align-items-center" >
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput placeholder="username" formControlName="username" type="text">
                <mat-icon matSuffix *ngIf="!SignUpForm.get('username')?.valid" style="color: green;">email</mat-icon>
                <mat-icon matSuffix *ngIf="SignUpForm.get('username')?.valid" style="color: green;">check</mat-icon>
                <mat-error *ngIf="SignUpForm.get('username')?.touched && !SignUpForm.get('username')?.valid">
                  Enter correct username</mat-error>
              </mat-form-field>
            </p>
            <p class="m-5 mt-0 mb-2 d-flex justify-content-center align-items-center">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" formControlName="password" [type]="pass_Click? 'text':'password'">
                <mat-icon matSuffix *ngIf="pass_Click" style="cursor: pointer;color: green;" (click)="eyeClick()">visibility_off</mat-icon>
                <mat-icon matSuffix *ngIf="!pass_Click" style="cursor: pointer;color: green;" (click)="eyeClick()">visibility_on</mat-icon>
                <mat-error *ngIf="SignUpForm.get('password')?.touched && !SignUpForm.get('password')?.valid">
                  Enter correct password</mat-error>
              </mat-form-field>
          </p>
          <div class="m-5 mt-0 d-flex justify-content-center align-items-center">
            <button mat-raised-button color="warn" class="btn-class" type="submit" [disabled]="!SignUpForm.valid">Submit</button>
          </div>

        </div>
          </form>
    </div>
   
   </div>
  