<div class="certificate">
    <div>
        
    </div>
    <div class="header text-center">Certificate of Achievement</div>
    <div class="content">
        This is to certify that<br>
        <strong>[User's Name]</strong><br>
        has successfully completed the HP Code Genius Program
    </div>
    <div class="affiliations">
        <div>Government Certifications and Affiliations:</div>
        <ul class="affiliation-list">
            <li class="affiliation-list-item">
                <img class="affiliation-logo" src="../../../../assets/UGC.jpg" alt="Government Logo 1" height="80" width="80">
            </li>
            <li class="affiliation-list-item">
                <img class="affiliation-logo" src="[Government Logo 2]" alt="Government Logo 2">
            </li>
            <!-- Add more government affiliations as needed -->
        </ul>
    </div>
    <div class="signature">
        <div>Signature:</div>
        <img src="[Signature Image]" alt="Signature">
    </div>
</div>